/* Variables */

$action-btns: #749aac;
$action-btns-hover: #0e4f6e;
$action-btns-choosen: #007af9;
$title: #0e4f6e;
$light-bg: #f8f8f8;
$grey-bg: #f6f6f6;
$hovering: #649df5;

$black-0-125: rgba(0, 0, 0, 0.125);
