@import "src/assets/style/_bits.scss";

.app {
  padding: 50px;

  mat-drawer-container {
    background: #FFFF;
    // display: contents;

    mat-drawer-content {
      // display: contents;
      padding: 20px;
    }
  }

  .action-btn {
    &-fab {
      background: $action-btns;
      color: white;

      &:hover {
        background: $action-btns-hover;
      }
    }

    &-icon {
      color: $action-btns;

      &:hover {
        color: $action-btns-hover;
      }
    }

  }

  .title{
    color: $title;
    display: flex;
    justify-content: space-between;

    .text {
      font-size: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }

  .filter-container {
    display: flex;

    mat-form-field {
      width: 100%;
    }
  }

  .buttons {
    padding: 10px 5px;
    display: flex;
    justify-content: flex-end;
  }
}
