@import "src/assets/style/_bits.scss";

.app {
  padding: 50px;

  mat-drawer-container {
    background: #FFFF;
    min-height: 75vh;
    // display: contents;

    mat-drawer-content {
      // display: contents;
      padding: 20px;
    }
  }

  .action-btn {

    &-icon {
      color: $action-btns;

      &:hover {
        color: $action-btns-hover;
      }

      &.choosen-view {
        color: $action-btns-choosen;
      }
    }

  }

  .filter-container {
    display: flex;

    mat-form-field {
      width: 100%;
    }
  }

  .buttons {
    padding: 10px 5px;
    display: flex;
    justify-content: flex-end;
  }

  mat-drawer {
    min-width: 35%;
    background: $light-bg;

    .drawer-inner-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
