<div class="app">
  <mat-drawer-container class="" [hasBackdrop]="true">
    <mat-drawer-content>
      <div class="title">
        <div class="text"> Management Tool </div>
        <div class="buttons">
          <button class="action-btn-icon"
            mat-icon-button aria-label="Grid View"
            [ngClass]="{'choosen-view' : view === viewOptions.Grid}"
            (click)="toggleView(viewOptions.Grid)">
              <mat-icon>grid_view</mat-icon>
          </button>
          <button class="action-btn-icon"
            mat-icon-button aria-label="List View"
            [ngClass]="{'choosen-view' : view === viewOptions.List}"
            (click)="toggleView(viewOptions.List)">
              <mat-icon>menu</mat-icon>
          </button>
          <button class="action-btn-icon" mat-icon-button aria-label="Add Tag" (click)="refreshDrawer()" >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>

      <div class="filter-container">
        <mat-form-field appearance="outline">
          <input matInput [formControl]="filterSearch" placeholder="Find by name or description...">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>

      <app-tags
        [view]="view"
        [filterString]="filterSearch.value"
        (tagRowClicked)="openEditTag($event)">
      </app-tags>
    </mat-drawer-content>
    <mat-drawer class="mat-elevation-z8" #drawer mode="over" position="end">

      <div class="drawer-inner-container ">
        <app-add-tag class="add-tag" *ngIf="drawer.opened" [tag]="tagToEdit" (submitSuccess)="tagSubmitted($event)"></app-add-tag>

        <button class="action-btn-icon" mat-icon-button aria-label="Grid View" (click)="refreshDrawer()"  >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>
