.color-selected {
  height: 15px;
  width: 90%;
}

::ng-deep mat-form-field.panel-open {
  .mat-mdc-select-arrow{
    transform: rotate(-180deg);
  }
}

::ng-deep.picker-panel {
  &.mdc-menu-surface.mat-mdc-select-panel{
    // display: grid;
  }

  mat-option{
    &[aria-selected=true] {
      border: 2px dotted black;

      &.black{
        border: 2px dotted white;
      }
    }
  }

}
