<mat-form-field class="color-picker" appearance="outline" [ngClass]="{'panel-open': matSelect.panelOpen}">
  <mat-select [formControl]="colorSelect" panelClass="picker-panel" #matSelect="matSelect">
    <mat-select-trigger>
      <div class="color-selected" [style.background-color]="colorSelect.value"></div>
    </mat-select-trigger>
    <mat-option
      *ngFor="let color of basicColors"
      [value]="color"
      [ngClass]="{'black': color === '#000' || color === 'black'}"
      [style.background-color]="color">
    </mat-option>
  </mat-select>
</mat-form-field>
